* {
	padding: 0;
	margin: 0;
	font-size: 100%;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
}


/*--------used multiple times--------*/

.container{
	margin: 0 auto;
	width: 66em;
	height: 10em;
}

/*--------Header--------*/

header{
	width: 100%;
	height: 40em;
    background: url("../images/pexels-photo.jpg") center center;
    position: relative;
    background-size: cover;

}

header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title{
	float: left;
	max-width: 45em;
	max-height: 50em;
	text-align: center;
	padding-top: 20em;
	padding-left: 10em;
}

.title h1{
	float: left;
	text-align: left;
	font-size: 120px;
	color: #FFF;
}

.title h2{
	float: left;
	font-size: 40px;
	color: #FFF;
	margin-top: -1em;
}

/*--------Header--------*/

/*--------nav--------*/

nav {
    padding: 1em 0;
    margin-bottom: 4em;
    position: fixed;
    width: 100%;
    z-index: 999;

}


nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

}

nav ul li {
    display: inline;
    margin: 20px;
    font-size: 14px;

}

a {
	color: #FFF;
	text-decoration: none;

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
}

a:hover {
	color: #919090; 

} 

/*--------nav--------*/

/*--------about--------*/

.about{
	float: left;
	width: 100%;
	height: 30em;
	background-color: #EDEDED;
}

.about-title{
	float: left;
	width: 20em;
	height: 10em;
	padding-top: 5em;

}

.about-title h1{
	float: left;
	text-align: left;
	font-size: 50px;
	color: #000;
}

.about-title h2{
	float: left;
	text-align: left;
	font-size: 30px;
	color: #000;
	margin-top: -.5em;
}




/*--------end of about--------*/

/*--------portfolio--------*/

.portfolio{
	float: left;
	width: 100%;
	height: 120em;
	background-color: #FFF;
}

.portfolio-title{
	float: left;
	width: 20em;
	height: 10em;
	padding-top: 5em;

}

.portfolio-title h1{
	float: left;
	text-align: left;
	font-size: 50px;
	color: #000;
}

.portfolio-title h2{
	float: left;
	text-align: left;
	font-size: 30px;
	color: #000;
	margin-top: -.5em;
}

/*.portfolio-showcase{
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 63em;
	height: 20em;
}

.portfolio-piece{
	float: left;
	width: 20em;
	height: 20em;
	padding-left: .5em;
	padding-right: .5em;
}
*/

.portfolio-showcase{
	float: left;
	width: 100%;
	height: 30em;
}


.portfolio-pic{
	float: left;
	width: 50%;
	height: 100%;
}

.portfolio-pic img{
	transition: all .2s ease-in-out;

}

.portfolio-pic:hover img{
	opacity: .6;
}

.portfolio-info{
	float: right;
	width: 50%;
	height: 100%;
}

.portfolio-info h1{
	margin: auto;
	text-align: center;
	font-size: 80px;
	margin-top: 1em;
}

.portfolio-info p{
	margin: auto;
	text-align: center;
	font-size: 15px;
	margin-top: 1em;
}

.portfolio-info img{
	margin-left: 11em;
	margin-top: 1em;
}

.portfolio-info img{
	transition: all .2s ease-in-out;

}

.portfolio-info:hover img{
	opacity: .6;
}


.portfolio-info-2{
	float: left;
	width: 50%;
	height: 100%;
}

.portfolio-info-2 h1{
	margin: auto;
	text-align: center;
	font-size: 80px;
	margin-top: 1em;
}

.portfolio-info-2 p{
	margin: auto;
	text-align: center;
	font-size: 15px;
	margin-top: 1em;
}

.portfolio-info-2 img{
	margin-left: 11em;
	margin-top: 1em;
}

.portfolio-info-2 img{
	transition: all .2s ease-in-out;

}

.portfolio-info-2:hover img{
	opacity: .6;
}


.portfolio-pic-2{
	float: right;
	width: 50%;
	height: 100%;
}

.portfolio-pic-2 img{
	transition: all .2s ease-in-out;

}

.portfolio-pic-2:hover img{
	opacity: .6;
}



/*--------end of portfolio--------*/


/*--------skills--------*/

.skills{
	float: left;
	width: 100%;
	height: 30em;
	background-color: #EDEDED; 
}

.skills-title{
	float: left;
	width: 10em;
	height: 10em;
	padding-top: 5em;

}

.skills-title h1{
	float: left;
	text-align: left;
	font-size: 50px;
	color: #00B1FF;
}

.skills-title h2{
	float: left;
	text-align: left;
	font-size: 30px;
	color: #00B1FF;
	margin-top: -.5em;
}

/*--------end of portfolio--------*/

