* {
	padding: 0;
	margin: 0;
	font-size: 100%;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: .5px;
}




/*--------Header--------*/

#hero{
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;

}


#hero h1 h2{

}

#hero h1{
	color: #fff;
	font-size: 7em;
	margin-border: .5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 3em;
}

#hero h2{
	color: #fff;
	font-size: 2em;
	margin-border: .5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}




/*--------Header--------*/



/*--------used multiple times--------*/

.container{
	margin: 0 auto;
	max-width: 80em;
}


/*--------nav--------*/



nav ul {
	background-color: #00C8FF;
	overflow: hidden;
	color: white;
	padding: 0;
	text-align: center;
	margin: 0;
	position: fixed;
	width: 100%
}

nav ul li{
	display: inline-block;
	padding: 20px;
}


a {
	color: #FFF;
	text-decoration: none;

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
}

a:hover {
	color: #919090; 

} 



@media (max-width: 600px){
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding-bottom: 15px;


	}
}





/*--------nav--------*/

/*--------about--------*/

#about{
	float: left;
	width: 100%;
	height: 40em;
	background-color: #FFF;
}


.about{
	float: left;
	width: 100%;
	height: 30em;
	background-color: #FFF;
}

.about-container p{
	font-size: 20px;
}

.about-container{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.about p{
	margin-bottom: 1em;
}

.about-title{
	margin-left: auto;
	margin-right: auto;
	width: 16em;
	height: 10em;
	padding-top: 5em;

}

.about-title h1{
	float: left;
	text-align: left;
	font-size: 50px;
	color: #000;
}

.about-title h2{
	float: left;
	text-align: left;
	font-size: 30px;
	color: #000;
	margin-top: -.5em;
}

.about-title img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
}




/*--------end of about--------*/

/*--------portfolio--------*/

#portfolio{
	float: left;
	width: 100%;
	background-color: #FFF;
	padding-bottom: 4em;
}

.portfolio-title{
	margin-left: auto;
	margin-right: auto;
	width: 15em;
	padding-top: 4em;

}

.portfolio-title h1{
	float: left;
	text-align: left;
	font-size: 50px;
	color: #000;
}

.portfolio-title h2{
	float: left;
	text-align: left;
	font-size: 30px;
	color: #000;
	margin-top: -.5em;
	margin-bottom: 5em;
}

.portfolio-title img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
}

/*.portfolio-showcase{
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 63em;
	height: 20em;
}

.portfolio-piece{
	float: left;
	width: 20em;
	height: 20em;
	padding-left: .5em;
	padding-right: .5em;
}
*/

.portfolio-showcase{
	float: left;
	width: 100%;
	height: 30em;
}


.portfolio-pic{
	float: left;
	width: 50%;
	height: 100%;
}

.portfolio-pic img{
	transition: all .2s ease-in-out;

}

.portfolio-pic:hover img{
	opacity: .6;
}

.portfolio-info{
	float: right;
	width: 50%;
	height: 100%;
}

.portfolio-info h1{
	margin: auto;
	text-align: center;
	font-size: 80px;
	margin-top: 1em;
}

.portfolio-info p{
	margin: auto;
	text-align: center;
	font-size: 15px;
	margin-top: 1em;
}

.portfolio-info img{
	margin-left: 11em;
	margin-top: 1em;
}

.portfolio-info img{
	transition: all .2s ease-in-out;

}

.portfolio-info:hover img{
	opacity: .6;
}


.portfolio-info-2{
	float: left;
	width: 50%;
	height: 100%;
}

.portfolio-info-2 h1{
	margin: auto;
	text-align: center;
	font-size: 80px;
	margin-top: 1em;
}

.portfolio-info-2 p{
	margin: auto;
	text-align: center;
	font-size: 15px;
	margin-top: 1em;
}

.portfolio-info-2 img{
	margin-left: 11em;
	margin-top: 1em;
}

.portfolio-info-2 img{
	transition: all .2s ease-in-out;

}

.portfolio-info-2:hover img{
	opacity: .6;
}


.portfolio-pic-2{
	float: right;
	width: 50%;
	height: 100%;
}

.portfolio-pic-2 img{
	transition: all .2s ease-in-out;

}

.portfolio-pic-2:hover img{
	opacity: .6;
}



/*--------end of portfolio--------*/


/*--------skills--------*/

#skills{
	float: left;
	width: 100%;
}

.skills-title{
	margin-left: auto;
	margin-right: auto;
	width: 7em;
	height: 10em;

}

.skills-title h1{
	float: left;
	text-align: left;
	font-size: 50px;
	color: #000;
}

.skills-title h2{
	float: left;
	text-align: left;
	font-size: 30px;
	color: #000;
	margin-top: -.5em;
}

.skills-charts{
	margin-left: auto;
	margin-right: auto;
	height: 30em;
	width: 66em;
}

.chart{
	float: left;
	width: 20em;
	height: 20em;
	margin-left: 1.5em;


}

.skill-title{
	float: left;
	width: 10em;
	height: 10em;
	font-size: 32px;
	text-align: center;
}

/*--------end of skills--------*/

/*--------footer--------*/


footer {
	float: left;
    width: 100%;
    height: 10em;
    background-color: #00C8FF;
    color: #ffffff;
    position: relative;
}

footer h1{
	margin-bottom: 1em;
}

.social-icons{
	text-align: center;
	font-size: 32px;
}

.social-icons:hover img{
	opacity: .6;
	transform: scale(.90);
}

.social-icons img:hover {
	opacity: 1;
	transform: scale(1.1);
}

.social-icons img{
	transition: all .2s ease-in-out;
}


/*--------tablet--------*/








